/* 
Creator: Darien Cortez
Date Created: 07/8/2019
Most recent revision: 
*/

header, footer{
    background-image: linear-gradient(whitesmoke, rgb(133, 98, 70));
    color: rgba(3, 3, 4, 0.5);
    text-align:center;
    padding: 1%;
    font-weight: bold;
    border-top: thin whitesmoke solid;
    border-bottom: whitesmoke solid;
}

 nav{
    text-align: left;
    margin-left: 2%;
}

nav .btn {
    font-size: 11pt;
    font-family: cursive;
    background-color: rgba(3, 3, 4, 0.5);
    color: whitesmoke;
    margin-top: 2%;
    width: 10em;   
}

nav .btn:visited {
    font-weight: normal;
    color: rgba(218, 94, 41, 0.7);
}

nav .btn:hover {
    font-weight: bold;
    color: whitesmoke;
}

nav .btn:active {
    font-weight: normal;
    color: whitesmoke;
    background-color: rgba(218, 94, 41, 0.7); 
}

body{
    color: whitesmoke;
    font-size: 14pt;
}

.page-background{
    /* free usage of image from this site: https://www.maxpixel.net/Wood-Background-Wooden-Wall-Wall-Texture-Structure-2556789 */
    background-image: url(../Images/wood.jpg);
    background-size: 100%;
    padding-bottom: 10%;
}

.logo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 44pt;
    border: solid 3pt;
    border-color: rgb(3, 3, 4, 0.5);
    border-radius: 20px;
    color: rgb(3, 3, 4, 0.5);
    background-color: rgba(217, 210, 196, 0.2);
    padding: 1%;
}

.carousel{
    background-color: rgba(218, 94, 41, 0.7);
    width: 100%;
    text-align: center;
    border-bottom: whitesmoke solid;
}